$primary: #141a2a;
$secondary: #3ba4e8;
$primaryLight: #93aabe;
$titleColor: #4c5d70;
$bgLight: #f3f5f7;
$bgGray: #e6edef;
$borderColor: #dbe1e6;
$disable: #7c7c7c;
$orange: #ff8f0b;
$orangeLight: #fff6e8;
$green: #2eb42b;
$red: #c60a2c;
$bgBlue: #3ba4e8;
$bgBlueLight: #ebf6fd;
$bgGreen: #34c75a;
$bggreenLight: #d6f4de;
$bgred: #e34848;
$bgRedLight: #ffe5ea;
$bgOrange: #ff8f0b;
$bgOrangeLight: #ffe9ce;
$bgBluePantone: #345dc7;
$bgBluePantoneLight: #d6dff4;
$bgPink: #d575dd;
$bgPinkLight: #f7e3f8;
$bgCyan: #0da0a9;
$bgCyanLight: #a7eaee;
$bgDeepSaffron: #663904;
$bgDeepSaffronLight: #ffbc6d;
$bgFaluRed: #77061a;
$bgFaluRedLight: #e899a8;
$white: #ffffff;
$black: #000000;
$textLight: #4c5d70;
$neonBlue: #5c6dfe;
$grayLight: #f7f7f7;
